Programming Requirements
Warbots Team 620
January 8, 2019

Mission Requirements
    We shall be able to control every subsystem
    We shall have a 12 second round trip for delivering the cargo and hatches
    We shall deliver 2 hatches during the 15-second sandstorm period
    We shall jump down from the 6-inch platform to start the sandstorm
    We shall be able to climb the tallest HAB platform in 10 seconds
    We shall be able to pick up hatches from the ground in 1 second at 10 feet per second
    We shall be able to deliver hatches and cargo to every port
    We shall be able to control the robot autonomously during sandstorm and with operator control during the rest of the match
    The robot will be able to operate in "aim-bot" mode to assist the driver with game object delivery
    We shall be able to allow the driver to configure variables without recompiling

Functions
    Drive/Turn/Lift
    Instructions from Driver
    Give instructer feed from camera
    Storing Data Permanently
        Data Logging
        Calibration
        Test Results
    Acquire Robot Position

Use Cases
    DriveWithJoysticks
    Exit Stations
    Acquire target
    Align with port
    Deposit Hatch (Level 1|2|3)
    Deposit Cargo (Level 1|2|3)
    Load Hatch
    Load Cargo
    Pick up Cargo from Floor
    Pick up Hatch from Floor
    Climb Level 2
    Climb Level 3

Interfaces
    Robot/Drive Station
    Hardware/Subsystem
    Camera/Drivetrain
    Robot/Scoring Mechanism
    Drivers/Drive Station
    Alignment System/Drivetrain
    Vision System/Drivetrain

Patterns
    Command-based robot
    PID Feedback Loop
    Model View Controller
    Finite-state Machines

System Requirements
    1a Shall be able to control drive train
    1b Shall be able to control up/down mechanism
    1c Shall be able to control vision tracking system
    2a Get robot to be able to accelerate 4 feet per second to a maximum velocity of 10 feet per second
    2b Get robot to be able to turn 180 degrees in 2 seconds
    2c Travel 15 feet in a straight line
    4a Shall be able to operate code when the field changes
    7a Shall be able to reach the ball port with the up/down mechanism in 3 seconds
    7b Shall be able to launch the ball into the ball port with a vertical accuracy of 1 inch
    9a Shall be able to align with tape with an accuracy of 1 inch

Layers
    Driver
    Driver Station
    Commands
    Subsystems
        Drivetrain
        Tracking System
    FRC Libraries
    Drivers
    Robot Hardware

Subsystems
    Drivetrain
    Alignment System
    Up/Down Mechanism
    Drivesystem
    Motor Control

    Drivetrain
        Wheels
        Motors
        Gears
    Up/Down Mechanism
        Position Tracker
        Activator
        Grab Mechanism    
    Drivestation
        Xbox Controller
        Driver
        Laptop
        Driver Station Program
        Dashboard
    Target Tracking
        Camera
        Reflective tape
        Lighting
        Light Relay
        Raspberry Pi
    Alignment
        Camera
        White tape
        Raspberry Pi
        Gyroscope
    Motor Control 
        Neo-motors (x4)
        Spark Max (x4)
        Wheel Encoders
        
Subsystem Requirements
    Drive Tracking
        Shall be able to control the drive train
        Shall be able to accelerate at a rate of at least 4 fps^2
        Shall be able to have an end velocity of 10 fps
        Shall be able to assist the driver in driving straight forward with a tolerance of one degree per 15 feet TBR
        Shall be able to turn 180 degrees in one second with an acceleration and deceleration of 90 degrees per second^2 autonomously or in teleop
        Shall be able to turn 90 degrees in one second with an acceleration and deceleration of 45 degrees per half second ^ 2 during autonomous or teleop
        Shall be able to align with the tape with an accuracy of one inch with the capability to autocorrect

    Up/Down Mechanism
        We shall be able to reach every port on the rocket ship
        We shall be able to command particular elevations
        We shall be able to raise the up/down mech from the lowest position to the highest one in 4 seconds
        We shall be able to retrieve a hatch or a cargo ball from the loading station
        We shall be able to pick up a hatch or cargo ball from the ground
        We shall be able to deposit a hatch or cargo ball into a port
        We shall be able to lower the up/down mech from the highest position to the lowest one in 4 seconds
        We shall be able to reach every horizontal distance from the center of the robot?

    Driver Interface
        We shall be able to adjust all key variables without recompiling, including:
            Driving dead zones
            Driving Sensitivity
            Weapons officer dead zones
            Weapons officer sensitivity
        We shall be able to communicate instructions from the controller, through the computer, to the robot
        We shall be able to control velocity, up/down mech, tracking system direction, aim bot target locking, HAB mechanism, and rocket port level
        We shall be able to maintain continuous communication between the robot and driver station
        We shall be able to display information from the robot to the driver

    Specific Driver Interface Requirements
        Camera feed of 30 fps, 480p resolution, FOV between 40 and 120 degrees (80-100 preferred).
        Controller vibration feedback for acceleration greater than 4 feet/second^2 TBR
        Controller vibration feedback for entering and exiting aim-bot mode
        Dashboard light to indicate whether the driver is currently manually controlling the robot
        “Sensitive joystick,” precise requirement TBD
        Automatic turning using the D-pad with:
            Up: 180 degree turn
            Left: 90 degree turn left
            Right: 90 degree turn right
        We shall be able to switch control schemes without recompiling the code
        We shall be able to support control with an Xbox controller or a Logitech gamepad.

    Tracking System
        The tracking system shall be able to illuminate retroreflective tape
        The tracking system shall be able to search for and recognize illuminated retroreflective tape from a distance of 9 feet TBR
        The tracking system shall be able to identify individual sets of strips of retroreflective tape
        The tracking system shall be able to identify the target port via input from the control system target
        The tracking system shall be able to identify the angle to the tape strips’ center point to within ± 0.5°

    Alignment System
        We shall be able to get feed from the camera and recognise and track the angle of the white line on the ground
        The alignment will be able to detect the line on the ground and take over from the tracking system
        We shall be able to deliver a game object within one inch of the edge of the line (2 inches from the center)
        We shall be able to recognize when the cargo or hatch has been dropped off, and then back up and turn around
